@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.LoginBackground {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../Images/3226fae8c2fd31e1c49f441c36ed100c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

.LoginSection {
  width: 30vw;
  min-width: 400px;
  height: auto;
  padding: 30px 40px;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.HeaderSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.HeaderSection h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.HeaderSection p {
  margin-top: 8px;
  font-size: 14px;
  color: #eee;
}

.InputSection {
  width: 100%;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px 0 45px;
  box-sizing: border-box;
}

.input-box input::placeholder {
  color: #eee;
}

.input-box .icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
}

.ForgotPasswordSection {
  margin-top: 15px;
  text-align: center;
}

.ForgotPasswordSection a {
  color: #012449;
  text-decoration: none;
  font-size: 0.9em;
}

.ForgotPasswordSection a:hover {
  text-decoration: underline;
}

.LoginButtonSection button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.LoginButtonSection button:hover {
  background-color: #f0f0f0;
}

.MessageSection {
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.9em;
  color: #ff4d4d;
}
